<h2>Artist Locations</h2>
<ul>
    {{#each uniqueLocations as |location|}}
        <li>
            {{#link-to "location" location.basedIn}}
                {{location.basedIn}}
            {{/link-to}}
        </li>
    {{/each}}
</ul>